__pycache__/
*.pyc
*.pyo

artifacts/
data/
build/
build_*/
build_rebuilt/
build_rebuilt2/
build_rebuilt3/
build_restyled/
dist/
dist_*/
dist_rebuilt/
dist_rebuilt2/
dist_rebuilt3/
dist_restyled/
*.zip
